<div class="tab-pane fade" id="list-create-message"  role="tabpanel" aria-labelledby="list-create-message-list">
<%= form_for( :api_admin,url:'/api_admin',remote:true,html: {class: 'activity_create_form'}   ) do %>
    <%= hidden_field_tag(:request_type,'activity_action') %>
    <p> <%= submit_tag 'Create Activity'%></p>
  <% end %>
</div>