<div class="list-group" id="list-tab" role="tablist">
  <a class="list-group-item list-group-item-action active" id="list-edit-user-list" data-toggle="list" href="#list-edit-user" role="tab" aria-controls="edit-user">Edit User Details</a>
  <a class="list-group-item list-group-item-action" id="list-create-message-list" data-toggle="list" href="#list-create-message" role="tab" aria-controls="create-message">Create A Message</a>
  <a class="list-group-item list-group-item-action" id="list-view-all-elements-list" data-toggle="list" href="#list-view-all-elements" role="tab" aria-controls="view-all-elements">View All Elements</a>
  <a class="list-group-item list-group-item-action" id="list-get-element-by-attr-list" data-toggle="list" href="#list-get-element-by-attr" role="tab" aria-controls="get-element-by-attr">Get All Elements By Attribute</a>
  <a class="list-group-item list-group-item-action" id="list-get-element-by-location-list" data-toggle="list" href="#list-get-element-by-location" role="tab" aria-controls="get-element-by-location">Get All Elements By Location</a>
</div>