<div class="tab-pane fade" id="list-view-messages" role="tabpanel" aria-labelledby="list-view-messages-list">
  <h4> Insert a bulletin board element id</h4>
  <%= form_for( :api_admin,url:'/api_admin',remote:true,html: {class: 'view_messages'}   ) do %>
    <p>Element ID: <%= number_field_tag 'element_id' ,nil,placeholder: 'Insert Element ID', size:10,required: true %>
      <%= submit_tag 'Show Messages'%></p>
    <%= hidden_field_tag(:request_type,'activity_action') %>
  <% end %>
</div>

<p><div id="showMessagesByElementId"></div></p>
