<head>Login</head>
<body>
<h1> Welcome to the integration course client environment</h1>

<h4> Login:</h4>
<%= render partial: 'login_form' %>

<h4> Confirm User:</h4>
<%= render partial: 'confirm_form' %>

<h4> Create A New User:</h4>
<%= render partial: 'create_form'%>

  <p><div id="showResults"></div></p>
</body>




